body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
  background: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.done {
  background: green;
  color: white;
}
button.miss {
  background: red;
  color: white;
}
